rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	function checkEmail() {
    	return request.auth.token.email.matches('.*@educbe[.]ca$') || request.auth.token.email.matches('leaderbotxlol@gmail.com')
    }
    function checkAdmin() {
      return checkEmail() && request.auth != null && request.auth.token.admin
    }
    match /users/{userId} {
      allow read: if request.auth.uid == userId || checkAdmin();
				// allow create: if request.auth.uid == userId &&
				// checkEmail() &&
				// request.resource.data.name is string &&
				// request.resource.data.tab is list;
      allow update: if
      	(request.resource.data.diff(resource.data).affectedKeys().hasOnly(['tab'])) &&
      	request.resource.data.tab is list;
      allow delete: if checkAdmin();
    }
    match /items/foods {
      allow read: if request.auth != null;
      allow update: if checkAdmin() &&
        request.resource.data.items is list;
    }
  }
}
